<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.embedded">

    <uses-permission android:name="android.permission.BLUETOOTH" /> // 블루투스 연결 요청, 연결 수락 및 데이터 전송
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> // 블루투스 설정 조작 및 앱에서 기기를 검색

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="밸런싱 패드"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Embedded">
        <activity android:name=".MainActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>